{#
/**
 * @file
 * Theme override to display a Target GPA Calculator block header field.
 *
 * @ingroup themeable
 */
#}

{% include 'field--text-long.html.twig' %}

{% block content %}
  {{ attach_library('arc_calculators/calculator_styles') }}
  {{ attach_library('arc_calculators/target_gpa_calculator_js') }}
  <div id='target-gpa-calculator' class='col-12 col-xl-10 col-xl-offset-1 px-0 mb-4'></div>
{% endblock %}
