{#
/**
 * @file
 * Theme override to display a GPA Calculator block header field.
 *
 * @ingroup themeable
 */
#}

{% include 'field--text-with-summary.html.twig' %}

{% block content %}
  {{ attach_library('arc_calculators/calculator_styles') }}
  {{ attach_library('arc_calculators/gpa_calculator_js') }}
  <div id='gpa-calculator' class='col-12 col-xl-10 col-xl-offset-1 px-0'></div>
{% endblock %}
